<%- include('../partials/_header.ejs')  %> 

<h1>Page About 📖</h1>

<p>Bonjour, je m'appelle <%= firstname %> <%= lastname %> </p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut perferendis rem impedit harum repudiandae consequatur architecto placeat, nihil fugit voluptas possimus, veniam culpa cumque nesciunt sapiente, libero tenetur id. Molestiae numquam iusto dolore non voluptate tenetur fugiat consectetur, doloribus rerum sed in eaque, dicta quod illo excepturi quas. Placeat, incidunt?
</p>

<%- include('../partials/_footer.ejs')  %> 