<nav>
  <ul>
    <li><a href="/">Accueil</a></li>
    <li><a href="/home">Accueil (/home)</a></li>
    <li><a href="/index">Accueil (/index)</a></li>
    <li><a href="/about">A propos</a></li>
    <li><a href="/message">Message</a></li>
    <li><a href="/message/1">Message avec l'id 1</a></li>
    <li><a href="/message/new">Créer un message</a></li>
  </ul>
</nav>